doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    title ui-explorer
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/stylesheets/index.css", attr)
    link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css" rel="stylesheet" )
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

    block stylesheets
  body
    nav.orange
      .nav-wrapper
        .col.s12
          a.nav-logo(href='/') ui-explorer
          if breadcrumb
            each link, i in breadcrumb
              a.breadcrumb(href=link)= link

        ul#nav-mobile.right.hide-on-med-and-down
          block nav_actions

    .container
      block body

    script(
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous")
    script(src='/javascripts/index.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.16/clipboard.min.js")
    block scripts
