* {
  box-sizing: border-box;
}

.ux-Details-link {
  display: flex;
  align-items: center;
  margin-top: 30px;
  color: #343434;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
   -khtml-user-select: none; /* Konqueror */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
  word-break: break-all;
}

.ux-Details-link:hover, .ux-Details-link--hover {
  box-shadow: 0px 0px 12px rgba(37, 37, 37, .2);
  border-radius: 4px;
}

.ux-Details-link i {
  color: #795548;
}

.ux-Details-link--folder i {
  color: #ffb74d;
}

.ux-Details-contextMenu {
  position: absolute;
  left: 100%;
  top: 0;
  z-index: -1;
  background: white;
  border-radius: 4px;
  width: 200px;
}

.ux-Details-contextMenu--visible {
  z-index: 1000;
}

.ux-Details-contextMenuLink {
  display: block;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 15px 30px;
  cursor: pointer;
  color: #343434;
}

.ux-Details-contextMenuLink:first-child {
  border-radius: 4px 4px 0 0;
  border-top: 1px solid #ccc
}

.ux-Details-contextMenuLink:last-child {
  border-radius: 0 0 4px 4px;
  border-bottom: 1px solid #ccc
}

.ux-Details-contextMenuLink + .ux-Details-contextMenuLink {
  border-top: 1px solid #ddd;
}

.ux-Details-contextMenuLink:hover {
  background: #ff9800;
  border-color: #ff9800;
  color: white;
}

.ux-Details-contextMenuLink:hover + .ux-Details-contextMenuLink {
  border-top-color: #ff9800;
}

.ux-Details-back {
  font-size: 26px;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.ux-Details-back i {
  margin-right: 15px;
}

.js-ContextMenu-copy {
  position: absolute;
  left: -100%;
  top: -100%;
}
